

.bg-dark{
    padding: y 4px;
    
    
    .footer{
        
        #footer-nav{
            
            #footer-men{
                list-style-type: none !important;
                    li{
                        list-style-type: none !important;
                        a{
                            list-style-type: none !important;
                            text-decoration: none !important;
                        }

                    }
            }

            #footer-logo{
                img{

                }
            }

            #footer-social{
                display: flex !important;
                flex-direction: column;
                justify-content: space-evenly!important;
                
                

            }
            
        }
    }
}

