
  .bg-dark{
        background-color: rgba(0, 0, 0, 0.665) !important;
            div{
                a{
                    color: white !important;
                    text-decoration: none;


                    
                }
                #navbarSupportedContent{
                    
                    .navbar-nav{
                        font-size: 3.5vh;
                    }
                }

                

            }
        
    }